<mat-divider></mat-divider>
<div fxLayout="row wrap" fxLayoutAlign="space-around stretch">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <div *ngFor="let g of genres" [genre]="g">
      <ng-container matColumnDef="position" >
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{g.id}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{g.nome}} </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  

</div>
